*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #262626;
}
li{
    list-style: none;
}
a{
    color:white;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* SECCION 1 */
#seccion_1{
    clear: both;
    height: 21.5vh;
    margin-top: 15px;
}

.text_seccion1_izq{
    float: left;
    text-align: center;
    margin: 2px;
    width: 49%;
    height: 10vh;
}

.seccion1_izq{
    float: left;
    text-align: justify;
    margin-top: 10px;
    width: 49%;
    height: 10vh;
    font-family: Arial;
    color: #2f148d;
}
.seccion1_der_arr{
    float: right;
    border: 0;
    text-align:center;
    margin: 2px;
    width: 50%;
    height: 10vh;
    padding-left: 80px;
    padding-right: 100px;
    background-color: aqua;
}
.seccion1_der_aba{
    float: right;
    border: 0;
    text-align: center;
    margin: 2px;
    width: 50%;
    height: 10vh;
    padding-left: 80px;
    padding-right: 100px;
    background-color: aqua;
}

/* SECCION 2 */
#seccion_2{
    clear: both;
    height: 21.5vh;
    margin-top: 15px;
}

.text_seccion2_izq{
    float: right;
    text-align: center;
    margin: 2px;
    width: 30%;
    height: 10vh;
}

.seccion2_izq{
    float:left;
    text-align:center;
    margin-top: -50px;
    width: 35%;
    height: 10vh;
    font-family: Arial;
    color: #2f148d;
}
.seccion2_der{
    float: left;
    text-align: center;
    margin: 2px;
    width: 35%;
    height: 20vh;
}

.boton {
    background-color: #1c9fdb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35%;
}
input::placeholder {
    color: rgb(33, 138, 236);
    font-size: 1.2em;
    font-style: italic;
}

/* SECCION 3 */
#seccion_3{
    clear: both;
    height: 21.5vh;
    margin-top: 15px;
}

.text_seccion3_izq{
    float: right;
    text-align: center;
    margin: 2px;
    width: 30%;
    height: 10vh;
}

.seccion3_izq{
    float:left;
    text-align:right;
    margin-top: -50px;
    width: 70%;
    height: 10vh;
    font-family: Arial;
    color: #0a5bd6;
    padding-right: 80px;
}
.seccion3_der{
    float: left;
    text-align: center;
    margin: 2px;
    width: 35%;
    height: 20vh;
}

.boton {
    background-color: #1c9fdb; /* Green */
    border:rgb(33, 138, 236);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:ruby-base;
    font-size: 16px;
    border-radius: 10%;
}
input::placeholder {
    color: rgb(33, 138, 236);
    font-size: 1.3em;
    font-style: italic;
    width: 350px;
}
